<header>
    <a href="index.html">Hacker Area</a>
    <a class="button" href="login.html">Login </a>
</header>
<div class="quicklinks">
    <a href="index.html">Guide</a>
    <a href="login.html">Login</a>
    <a href="secret-article.html">Secret Article</a>
    <a href="shop.html">Shop</a>
    <a href="xss.html">XSS-Challenge</a>
    <a href="premium.html">Premium-Article</a>
    <a href="admin.html">Admin Access</a>
    <a href="disabled-form.html">Form Challenge</a>
    <a href="profile.html?user_id=1">User Profiles</a>
</div>