<div class="overlay" id="overlayWidget">
    <div class="card">
        <div class="card-content">
            <h2>Please Unlock Page</h2>
            <p>
                The content of this page is only available to premium users. You can only click 'Continue' after you have paid.
            </p>
        </div>

        <div class="card-buttons">
            <button id="overlayContinueBtn" class="button button-orange" disabled>Continue</button>
            <button id="overlayPayBtn" class="button button-orange">Pay</button>
        </div>
    </div>
</div>